* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
header {
  border-bottom: 8px solid;
}

main {
  padding: 90px 0;
}

h1 {
  font-size: 2rem;
}

.intro-chunk {
  padding-top: 96px;
  padding-bottom: 64px;
  max-width: 415px;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  border-bottom: 8px solid;
}
